<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ready4s.faceiraq.and_faceiraq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".contact.us.ContactUsActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".theme.colour.ThemeColourActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controller.BookmarksActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controller.CardsActivity"
                  android:screenOrientation="portrait"
            android:theme="@style/CardsActivityTheme"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="442e5ac982ec4718f72358617db0e278f9bac8b1"
            />
    </application>

</manifest>