<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.faceiraq.and_faceiraq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".MyApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name=".push_notifications.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".push_notifications.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".push_notifications.RegistrationIntentService"
            android:exported="false">
        </service>

        <activity android:name="net.faceiraq.and_faceiraq.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.faceiraq.and_faceiraq.controller.HistoryActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name="net.faceiraq.and_faceiraq.contact.us.ContactUsActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name="net.faceiraq.and_faceiraq.MainActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:configChanges="orientation|screenSize|keyboardHidden"
            />
        <activity android:name="net.faceiraq.and_faceiraq.theme.colour.ThemeColourActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="net.faceiraq.and_faceiraq.controller.BookmarksActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="net.faceiraq.and_faceiraq.controller.CardsActivity"
                  android:screenOrientation="portrait"
            android:theme="@style/CardsActivityTheme"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f1f3b6b456a17e56a74481b46abb9dac9d7a2b38"
            />
    </application>

</manifest>